@{
    var data = Context.Session.GetString("cart");

    int coutCart = 0;
    List<CartModel> dataCart = null;
    if (data == null)
    {
        coutCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        dataCart = JsonConvert.DeserializeObject<List<CartModel>>(data2);



        foreach (var item in dataCart)
        {
            coutCart += item.Quantity;
        }

    }
    

}
<!--begin header-->
<div id="box-header">
    <div class="header-container">
        <div class="header">
            <div class="box-header-01">
                <div class="container">
                    <div class="row">
                        <div class="logo">
                            <a href="#"><img src="~/template/images/logodefault.png" alt="" /></a>
                        </div>
                        <div class="menu">
                            <div class="box-main-menu">
                                <div class="main-menu">
                                    <ul>
                                        <li class="item1 first">@Html.ActionLink("HOME", "Index", "Home")</li>
                                        <li class="item2 megamenu-parent">
                                            <a href="grid.html">Tablets</a>
                                            <div class="vt_megamenu_content">
                                                <div class="mega-menu-01">
                                                    <div class="menu-01 menu-01-cate">
                                                        <div class="title"><span>Categories</span></div>
                                                        <ul class="content-col">
                                                            <li class="first"><a class="mega-lap" href="#"><span>Laptop</span></a></li>
                                                            <li><a class="mega-tvi" href="#"><span>TV</span></a></li>
                                                            <li><a class="mega-mob" href="#"><span>Mobile</span></a></li>
                                                            <li><a class="mega-tab" href="#"><span>Tablet</span></a></li>
                                                            <li><a class="mega-cam" href="#"><span>Camera</span></a></li>
                                                            <li class="last"><a class="mega-rad" href="#"><span>Radio</span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="menu-01 menu-01-top">
                                                        <div class="title"><span>Tops</span><span class="hot">Hot</span></div>
                                                        <ul class="content-col">
                                                            <li class="first"><a href="#"><span>Smartphones</span></a></li>
                                                            <li><a href="#"><span>Accessories</span></a></li>
                                                            <li><a href="#"><span>Headsets</span></a></li>
                                                            <li><a href="#"><span>Batteries</span></a></li>
                                                            <li><a href="#"><span>Screen Protectors</span></a></li>
                                                            <li class="last"><a href="#"><span>Memmory Cards</span></a></li>
                                                        </ul>
                                                    </div>
                                                    <div id="feature" class="menu-01 menu-01-feature carousel-feature">
                                                        <div class="title"><span>Featured</span><span class="new">New</span></div>
                                                        <div class="carousel-inner">
                                                            <div class="item active">
                                                                <div class="image"><img alt="" src="~/template/images/feature-mega01.png" /></div>
                                                                <div class="carousel-caption-feature">
                                                                    <div class="title-advan">
                                                                        <span class="name-advan">Ipad Air and iOS7</span>
                                                                        <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="image"><img alt="" src="~/template/images/feature-mega01.png" /></div>
                                                                <div class="carousel-caption-feature">
                                                                    <div class="title-advan">
                                                                        <span class="name-advan">Ipad Air and iOS7</span>
                                                                        <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="image"><img alt="" src="~/template/images/feature-mega01.png" /></div>
                                                                <div class="carousel-caption-feature">
                                                                    <div class="title-advan">
                                                                        <span class="name-advan">Ipad Air and iOS7</span>
                                                                        <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="menu-01 menu-01-sale">
                                                        <div class="title"><span>Sale</span></div>
                                                        <div class="content">
                                                            <img alt="" src="~/template/images/sale-mega-01.png" />
                                                            <p class="description">At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</p>
                                                            <div class="shop-now"><a title="Shop now" href="#"><span>Shop now</span></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item3 megamenu-parent">
                                            @Html.ActionLink("DANH SÁCH", "Grid", "Home")
                                            <div class="vt_megamenu_content">
                                                <div class="mega-menu-02">
                                                    <h1 class="title">MOST POPULAR</h1>
                                                    <div class="block row vt-slider vt-slider67">
                                                        <div class="slider-inner">
                                                            <div class="container-slider">
                                                                <div class="products-grid">
                                                                    <div class="item">
                                                                        <div class="item-wrap">
                                                                            <div class="item-image">
                                                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                                    <img class="first_image" src="~/template/images/product/larg/demo9.jpg" alt="Product demo" />
                                                                                </a>
                                                                                <div class="item-btn">
                                                                                    <div class="box-inner">
                                                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                                        <span class="qview">
                                                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                                            </div>
                                                                            <div class="pro-info">
                                                                                <div class="pro-inner">
                                                                                    <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                                    <div class="pro-content">
                                                                                        <div class="wrap-price">
                                                                                            <div class="price-box">
                                                                                                <span class="regular-price">
                                                                                                    <span class="price">$800.00</span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                <div class="rating" style="width:80%"></div>
                                                                                            </div>
                                                                                            <span class="amount"><a href="#">1(s)</a></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end item wrap -->
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="item-wrap">
                                                                            <div class="item-image">
                                                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                                    <img class="first_image" src="~/template/images/product/larg/demo1.jpg" alt="Product demo" />
                                                                                </a>
                                                                                <div class="item-btn">
                                                                                    <div class="box-inner">
                                                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                                        <span class="qview">
                                                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                                            </div>
                                                                            <div class="pro-info">
                                                                                <div class="pro-inner">
                                                                                    <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                                    <div class="pro-content">
                                                                                        <div class="wrap-price">
                                                                                            <div class="price-box">
                                                                                                <span class="regular-price">
                                                                                                    <span class="price">$800.00</span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                <div class="rating" style="width:80%"></div>
                                                                                            </div>
                                                                                            <span class="amount"><a href="#">1(s)</a></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end item wrap -->
                                                                    </div>
                                                                    <div class="item">

                                                                        <div class="item-wrap">
                                                                            <div class="item-image">
                                                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                                    <img class="first_image" src="~/template/images/product/larg/demo6.jpg" alt="Product demo" />
                                                                                </a>
                                                                                <div class="item-btn">
                                                                                    <div class="box-inner">
                                                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                                        <span class="qview">
                                                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                                            </div>
                                                                            <div class="pro-info">
                                                                                <div class="pro-inner">
                                                                                    <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                                    <div class="pro-content">
                                                                                        <div class="wrap-price">
                                                                                            <div class="price-box">
                                                                                                <span class="regular-price">
                                                                                                    <span class="price">$800.00</span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                <div class="rating" style="width:80%"></div>
                                                                                            </div>
                                                                                            <span class="amount"><a href="#">1(s)</a></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end item wrap -->
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="item-wrap">
                                                                            <div class="item-image">
                                                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                                    <img class="first_image" src="~/template/images/product/larg/demo7.jpg" alt="Product demo" />
                                                                                </a>
                                                                                <div class="item-btn">
                                                                                    <div class="box-inner">
                                                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                                        <span class="qview">
                                                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                                            </div>
                                                                            <div class="pro-info">
                                                                                <div class="pro-inner">
                                                                                    <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                                    <div class="pro-content">
                                                                                        <div class="wrap-price">
                                                                                            <div class="price-box">
                                                                                                <span class="regular-price">
                                                                                                    <span class="price">$800.00</span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                <div class="rating" style="width:80%"></div>
                                                                                            </div>
                                                                                            <span class="amount"><a href="#">1(s)</a></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end item wrap -->
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="item-wrap">
                                                                            <div class="item-image">
                                                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                                    <img class="first_image" src="~/template/images/product/larg/demo8.jpg" alt="Product demo" />
                                                                                </a>
                                                                                <div class="item-btn">
                                                                                    <div class="box-inner">
                                                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                                        <span class="qview">
                                                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                                            </div>
                                                                            <div class="pro-info">
                                                                                <div class="pro-inner">
                                                                                    <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                                    <div class="pro-content">
                                                                                        <div class="wrap-price">
                                                                                            <div class="price-box">
                                                                                                <span class="regular-price">
                                                                                                    <span class="price">$800.00</span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                <div class="rating" style="width:80%"></div>
                                                                                            </div>
                                                                                            <span class="amount"><a href="#">1(s)</a></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end item wrap -->
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="item-wrap">
                                                                            <div class="item-image">
                                                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                                    <img class="first_image" src="~/template/images/product/larg/demo9.jpg" alt="Product demo" />
                                                                                </a>
                                                                                <div class="item-btn">
                                                                                    <div class="box-inner">
                                                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                                        <span class="qview">
                                                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                                            </div>
                                                                            <div class="pro-info">
                                                                                <div class="pro-inner">
                                                                                    <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                                    <div class="pro-content">
                                                                                        <div class="wrap-price">
                                                                                            <div class="price-box">
                                                                                                <span class="regular-price">
                                                                                                    <span class="price">$800.00</span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                <div class="rating" style="width:80%"></div>
                                                                                            </div>
                                                                                            <span class="amount"><a href="#">1(s)</a></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end item wrap -->
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="item-wrap">
                                                                            <div class="item-image">
                                                                                <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                                    <img class="first_image" src="~/template/images/product/larg/demo10.jpg" alt="Product demo" />
                                                                                </a>
                                                                                <div class="item-btn">
                                                                                    <div class="box-inner">
                                                                                        <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                                        <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                                        <span class="qview">
                                                                                            <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                                                            </div>
                                                                            <div class="pro-info">
                                                                                <div class="pro-inner">
                                                                                    <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                                    <div class="pro-content">
                                                                                        <div class="wrap-price">
                                                                                            <div class="price-box">
                                                                                                <span class="regular-price">
                                                                                                    <span class="price">$800.00</span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="ratings">
                                                                                            <div class="rating-box">
                                                                                                <div class="rating" style="width:80%"></div>
                                                                                            </div>
                                                                                            <span class="amount"><a href="#">1(s)</a></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end item wrap -->
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                        @if (ViewBag.account != null)
                        {
                            <div style="display: inline; float: right; color: white; text-align: center; padding: 29px; ">
                                Xin chào, @ViewBag.account
                                <span>
                                    
                                    <button onclick="location.href='@Url.Action("Logout","Login")'" style=" margin-left: 5px; background: #303125; border: none; color: red; ">Logout</button>
                                </span>
                            </div>
                        }

                        <div class="account-and-cart">
                            @if (ViewBag.account == null) {
                            <a href="@Url.Action("Index","Login")"><div class="my-account"></div></a>
                            } 
                            
                            <div class="box-cart">
                                <div class="cart-mini">
                                    <div class="title">
                                        <span class="item">
                                            @coutCart
                                        </span>
                                    </div>
                                    <div class="block-content">
                                        <div class="inner">
                                            <p class="block-subtitle">Recently added item(s)</p>
                                            <ol id="cart-sidebar" class="mini-products-list">
                                                @if (dataCart != null)
                                                {
                                                    foreach (var datacart in dataCart)
                                                    {


                                                        <li class="item" style="padding: 0; margin-bottom:1vw;">
                                                            <div style="height:6vw;">
                                                                <div style="width: 6vw; height: 100%; display:inline-block;"><img style="width:100%; height:100%" src="~/ImgDienThoai/@datacart.DienThoai.Hinh" alt="Alternate Text" /></div>
                                                                <div style="display:inline-block">
                                                                    <div>Tên: @datacart.DienThoai.TenDT</div>

                                                                    <div>Giá: <span style="color:orangered">@datacart.DienThoai.DonGia</span> </div>
                                                                </div>

                                                            </div>


                                                        </li>
                                                    }
                                                }
                                            </ol>

                                            <div class="actions">
                                                <div class="a-inner">
                                                    @Html.ActionLink("View My Cart", "ListCart", "Cart", null, new { @class = "btn-mycart" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bgr-menu">
                </div>
            </div>
            <div class="box-header-02">
                <div class="container">
                    <div class="row">
                        <ul>
                            <li><a href="#">Overview </a></li>
                            <li><a href="#">Devices </a></li>
                            <li><a href="#">Postpaid Plans</a></li>
                            <li><a href="#">Prepaid Plans</a></li>
                            <li><a href="#">Broadband Plans </a></li>
                            <li><a href="#">Add-Ons </a></li>
                            <li><a href="#">FAQs </a></li>
                            <li><a href="#">Blog </a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-header-03">
                <div class="container">
                    <div class="row">
                        <span class="shipping"><a href="#">Free Shipping-Free Returns</a></span>
                        <span class="gift"><a href="#">Signature Gift Wrapping</a></span>
                        <span class="customer"><a href="#">24/7 Customer Care</a></span>
                        <div class="box-search">
                            <form action="?q=exp" method="POST">
                                <button><span>search</span></button>
                                <ul class="drop-search">
                                    <li>
                                        <span class="selected">All Categories </span>
                                        <ul>
                                            <li>All Categories </li>
                                            <li>Cate 1</li>
                                            <li>Cate 2</li>
                                            <li>Cate 3</li>
                                        </ul>
                                    </li>
                                </ul>
                                <input name="search" type="text" value="" placeholder="search this site..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end header-->
