@model IEnumerable<DoAn.Areas.Admin.Models.DienThoaiModel>

@{
    ViewData["Title"] = "Index";
}
    <div style="float: right">
        <b><p style="display: contents;">TÌM KIẾM: </p></b>
        <input style="border-radius: 4vw; padding: 1vw; width: 25vw;" type="text" id="Search" placeholder="Search here..." />
    </div>
<h1>Index</h1>

<a onclick="showInPopUp('@Url.Action("Create","DienThoai",null,Context.Request.Scheme)','')">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DongDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaKM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="list-dt">
        @*@foreach (var item in Model) {
                    <tr class="result">
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DongDT.MaDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GiaKM)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
            }*@
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @*Tìm kiếm realtime*@
    <script>
        $(document).ready(function () {
            function Contains(txt_one, txt_two) {
                if (txt_one.indexOf(txt_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".result").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    } else { $(this).show(); }
                });
            });
        });
    </script>


    @*Hiện list điện thoại bằng JSON và API*@
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "../api/PhoneListAPI/GetPhoneList",

                success: function (list) {
                    listJSON = JSON.parse(list);
                    var data = '';
                    $.each(listJSON, function (key, value) {
                        data += '<tr class="result">';
                        data += '<td>' + value.TenDT + '</td>';
                        data += '<td>' + value.MaDT + '</td>';
                        data += '<td>' + value.Hinh + '</td>';
                        data += '<td>' + value.DonGia + '</td>';
                        data += '<td>' + value.GiaKM+ '</td>';
                        data += '<td>';
                        data += '<a href="/Admin/DienThoai/Edit/' + value.ID + '">Edit</a> |';
                        data += '<a href="/Admin/DienThoai/Details/' + value.ID + '">Details</a> |';
                        data += '<a href="/Admin/DienThoai/Delete/' + value.ID + '">Delete</a>';
                        data += '</td>';
                        data += '</tr>';
                    });
                    $('#list-dt').append(data);
                }

            });

        });
    </script>

}
